<!DOCTYPE html>
<html ng-app="mumsApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MUMS</title>
    
    <link href="\mums-poc\Content\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet"></link>
    <link href="\mums-poc\Content\vendor\bootstrap\css\bootstrap-theme.min.css" rel="stylesheet"></link>
    <link href="\mums-poc\Content\vendor\angular\css\animate.min.css" rel="stylesheet"></link>
   <link href="\mums-poc\Content\vendor\autocomplete\css\autocomplete.css" rel="stylesheet"></link>
    <link href="\mums-poc\Content\vendor\autocomplete\css\style.css" rel="stylesheet"></link>
    
<link rel='stylesheet prefetch' href='http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.css'></link>

    <!-- App css -->
    <link href="/mums-poc/Content/mums.css" rel="stylesheet"></link>

    <script src="\mums-poc\Scripts\vendor\jquery\jquery-1.11.3.min.js"></script>
    <script src="\mums-poc\Scripts\vendor\angular\angular.min.js"></script>  
    <script src="\mums-poc\Scripts\vendor\angular\angular-animate.js"></script>
    <script src="\mums-poc\Scripts\vendor\bootbox\bootbox.min.js"></script>
    <script src="\mums-poc\Scripts\vendor\bootstrap\bootstrap.min.js"></script>
    <script src="\mums-poc\Scripts\vendor\autocomplete\autocomplete.js"></script>

  
    <!-- App script -->
    <script src="/mums-poc/app/apps.js"></script>
    
    <!-- User related files -->
    <script src="/mums-poc/app/controllers/user/userController.js"></script>
    <script src="/mums-poc/app/controllers/doc/documentController.js"></script>
 

</head>
<body>

        <div class="navbar-inner">
            <div class="app-name">
                <img src="Content/images/people.png" alt="logo">MUMS - Document Access System
            </div>
                <div class="welcome">Welcome Manish</div>
                <div class="signoff">Sign Off</div>
        </div>


   <tabs></tabs>
    

    <div class="footer-class">
            Created by Tech Mahindra
   </div>
    
</body>
</html>